*
!blaze
!blaze/.gcloudignore
!blaze/Dockerfile
!blaze/cloudbuild.yaml
!curl
!curl/.gcloudignore
!curl/Dockerfile
!curl/cloudbuild.yaml
!docker
!docker/.gcloudignore
!docker/Dockerfile
!docker/cloudbuild.yaml
!dotnet
!dotnet/.gcloudignore
!dotnet/Dockerfile
!dotnet/cloudbuild.yaml
!gcloud
!gcloud/.gcloudignore
!gcloud/Dockerfile
!gcloud/cloudbuild.yaml
!git
!git/.gcloudignore
!git/Dockerfile
!git/cloudbuild.yaml
!go
!go/.gcloudignore
!go/Dockerfile
!go/cloudbuild.yaml
!gradle
!gradle/.gcloudignore
!gradle/Dockerfile
!gradle/cloudbuild.yaml
!gsutil
!gsutil/.gcloudignore
!gsutil/Dockerfile
!gsutil/cloudbuild.yaml
